body {
	font:80 1.5em Georgia, helvetica, sans-serif;
	color: black;
	background-color: white;
}

h1 {
	font:6.0em Georgia;
	color:black;
	text-align:center;
}

p {
	font:1.5em Georgia;
	color: black;
	background-color: white;
}


h2 {
	font: 3.0em Georgia;
	color: #f4b042;
	margin: 20px;
	padding: 40px;
	text-transform:uppercase;
	text-decoration: underline;
}
.opacity {
	 opacity: 0.5;
}
.opacity:hover {
    opacity: 1.0;
}
/*a {
	display: block;
	width: 200px;
	height: 63px;
	background-image: src="1000islands.jpeg";
	text-decoration: none;
	text-indent: -999em;

}*/