body {
	font-family: Georgia, "Times New Roman";
	color: black;
	background-color: white;
}

#menu {
	background-color:#8cd9b3;
}

#main-content {
	background-color:pink;
}

.round-button {
	background-color:#26734d;
	color:white;
}

h1 {
	font-size: 6.0em;
	color:#00664d;
	text-align:center;
}


p {
	font-size: 5.0em;
	color: black;
	background-color: white;
}


h2 {
	font-size: 3.0em;
	color: #f4b042;
	margin: 20px;
	padding: 40px;
	text-transform:uppercase;
	text-decoration: underline;
}

h5 {
	font-size: 1.5em;
}